
* {
    margin: 0;
    padding: 0;
}

:host {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 3px #d0d0d0;

    img {
        margin: 0 auto 0 auto;
        width: 220px;
        border-radius: 50%;
    }

    h1, h2 {
        margin-top: 10px;
        text-align: center;
    }

    h2 {
        font-size: 16px;
    }
}